<div ng-controller="s4Controller">
<ul class="sub-nav  col-xs-12">
		<li ng-class="selected == 'busFunctions'?'active':''" ng-click="selected = 'busFunctions'" ><a >Business Functions</a></li>
		<li ng-class="selected == 'readycheck'?'active':''" ng-click="selected = 'readycheck'" ><a >Readiness Check</a></li>
				
	
</ul>

<div class="view-wrapper col-xs-12 s4-container" >
	<div class="totals-container col-xs-12">
		<div class="totals-box col-xs-2 status-blue">
			<p class="totals-numeric" ng-bind="tabularData.length"></p>
			<p class="totals-text">Total</p>
		</div>
		<div class="totals-box col-xs-2 status-green">
			<p class="totals-numeric" ng-bind="supportedCount"></p>
			<p class="totals-text">Supported</p>
		</div>
		<div class="totals-box col-xs-2 status-red">
			<p class="totals-numeric" ng-bind="notSupportedCount"></p>
			<p class="totals-text">Not Supported</p>
		</div>
	</div>
	<div class="s4-graph-container col-xs-12">
		<div class="s4-graph-box col-xs-6">
			This is a placeholder for graph
			<nvd3 options="options" data="data"></nvd3>
		</div>
		<div class="s4-graph-box col-xs-6">
			This is a placeholder for graph
			<nvd3 options="options" data="uniqueBFuncCateg"></nvd3>
		</div>
	</div>
	<div class="table-container col-xs-12 no-padding ">
		<div class="col-xs-12 bp-column no-border">
			<p>Table data</p>
			<div class="center-section">
				<table class="col-xs-12" ng-init="orderByField = 'COMPONENT'">
					<thead>
						<tr class="border-bottom">
							<td ng-repeat="(key,value) in tabularData[0]" ng-click="sortFunction(key)">
								<span ng-bind="key"></span>
								<span ng-show="orderByField == '{{key}}'">
									<span ng-show="!$parent.reverseSort">^</span>
									<span ng-show="$parent.reverseSort">v</span>
								</span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in tabularData|orderBy:orderByField:reverseSort">
							<td ng-repeat="(key,value) in row" class="border-right" ng-bind="value"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</div>
</div>