<div class="view-wrapper col-xs-12 s4-container" ng-controller="s4Controller">
	<div class="totals-container col-xs-12">
		<div class="totals-box col-xs-2 status-blue">
			<p class="totals-numeric">100</p>
			<p class="totals-text">Total</p>
		</div>
		<div class="totals-box col-xs-2 status-green">
			<p class="totals-numeric">60</p>
			<p class="totals-text">Supported</p>
		</div>
		<div class="totals-box col-xs-2 status-red">
			<p class="totals-numeric">40</p>
			<p class="totals-text">Not Supported</p>
		</div>
	</div>
	<div class="s4-graph-container col-xs-12">
		<div class="s4-graph-box col-xs-6">
			This is a placeholder for graph
		</div>
		<div class="s4-graph-box col-xs-6">
			This is a placeholder for graph
		</div>
	</div>
	<div class="table-container col-xs-6 no-padding ">
		<div class="col-xs-12 bp-column no-border">
			<p>Table data</p>
			<div class="center-section">
				<table class="col-xs-12">
					<thead>
						<tr class="border-bottom">
							<td ng-click="orderByField='name';reverseSort = !reverseSort">
								<span>Name</span>
								<span ng-show="orderByField == 'name'">
									<span ng-show="!reverseSort">^</span>
									<span ng-show="reverseSort">v</span>
								</span>
							</td>
							<td ng-click="orderByField='age';reverseSort = !reverseSort">
								<span>Age</span>
								<span ng-show="orderByField == 'age'">
									<span ng-show="!reverseSort">^</span>
									<span ng-show="reverseSort">v</span>
								</span>
							</td>
							<td ng-click="orderByField='city';reverseSort = !reverseSort">
								<span>City</span>
								<span ng-show="orderByField == 'city'">
									<span ng-show="!reverseSort">^</span>
									<span ng-show="reverseSort">v</span>
								</span>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tdata in tabularData|orderBy:orderByField:reverseSort">
							<td class="border-right" ng-bind="tdata.name"></td>
							<td class="border-right" ng-bind="tdata.age"></td>
							<td class="border-right" ng-bind="tdata.city"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</div>
</div>