$bg-color: #fff;
$border-color: #dcd8d8;
$border-color1 : #fff;
$border-color2 : #ec2929;
$border-color3 : yellow;
$border-color4 : green;

.iA-container{
	background-color:$bg-color;
	.count-container{
		margin: 30px 15px;
		background: #f1f1f1;
		padding: 10px;
	}
	.ia-count-tile{
		padding: 10px;
	}
	.border-white{
		border-left:2px solid $border-color1;
	}
	.border-red{
		border-left:2px solid $border-color2;
	}
	.border-yellow{
		border-left:2px solid $border-color3;
	}
	.border-green{
		border-left:2px solid $border-color4;
	}
	
	.ia-chart-column{
		min-height: 300px;
	}
	.count{
		font-size: 1.5em;
    font-weight: bold;
	}
	
}