$primary-color: #A37;
$header-color: #000;
$bg-color: #fff;
$nav-font-color :#000; 
$border-color: #dcd8d8;
$border-color1 : #fff;
$border-color2 : #ec2929;
$border-color3 : yellow;
$border-color4 : green;


#title {
	  color: $primary-color;
}

h1 { 
	text-align: left;
	color: $header-color;
 }

body{
	background-color:#000;
}
.container {
  width: 100%;
  padding: 3px;
}
.view-container{
	background-color:#fff;
	height: 100vh;
}


.no-padding{
	padding:0;
}
.clear-both{
	clear:both;
}
.text-center{
	text-align:center;
}
.no-border{
	border:none !important;
}
.border-right{
	border-right:1px solid #dcd8d8;
}
.border-bottom{
	border-bottom:1px solid #dcd8d8;
}
.margin-15{
	margin:15px;
}
td{
	padding:10px;
	
}
td:last-child{
	border:none;	
}
tr:nth-child(even) {
    background-color: #f9f6f6;
}

tr:nth-child(odd) {
     background-color: #ffffff;
}

@import "navigation.scss";
@import "bp.scss";
@import "impactAnalysis.scss";