$primary-color: #A37;
$header-color: #000;
$border-blue: #3e5d7c;
$border-green: #22901f;
$border-red: #d04531;

#title {
	  color: $primary-color;
}

h1 { 
	text-align: left;
	color: $header-color;
 }

body{
	background-color:#000;
}
.container {
  width: 100%;
  padding: 3px;
}
.view-container{
	background-color:#fff;
	margin-top: 100px;
    height: 100vh;
}


.no-padding{
	padding:0;
}
.clear-both{
	clear:both;
}
.text-center{
	text-align:center;
}
.no-border{
	border:none !important;
}
.border-right{
	border-right:1px solid #dcd8d8;
}
.border-bottom{
	border-bottom:1px solid #dcd8d8;
}
td{
	padding:10px;
	
}
td:last-child{
	border:none;	
}
tr:nth-child(even) {
    background-color: #f9f6f6;
}

tr:nth-child(odd) {
     background-color: #ffffff;
}
.status-blue{
	border-left: 4px solid $border-blue;
}
.status-red{
	border-left: 4px solid $border-red;
}
.status-green{
	border-left: 4px solid $border-green;
}

@import "navigation.scss";
@import "bp.scss";
@import "s4.scss";